<div class="loginmodal modal fade" id="signupModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="sportsmagazine-login-box">
      <a href="#" data-dismiss="modal" class="sportsmagazine-login-close sportsmagazine-color"><i
        class="icon-uniF106"></i></a>
      <h4>Đăng ký</h4>
      <form>
        <input type="text" name="email" placeholder="Enter username*">
        <input type="text" name="password" placeholder="Type your password*">
        <input type="text" name="confirm" placeholder="Confirm your password*">
        <a href="javascript:void(0)" class="sportsmagazine-colorhover">Quên mật khẩu?</a>
        <div class="clearfix"></div>
        <label><input type="submit" value="Đăng ký" class="sportsmagazine-bordercolor sportsmagazine-color"></label>
      </form>
      <ul class="login-network d-none">
        <li><a href="javascript:void(0)" (click)="notify('Coming soon', 'info')"><i class="fa fa-facebook-square"></i>
          Facebook</a></li>
        <li class="sportsmagazine-twitter"><a href="javascript:void(0)" (click)="notify('Coming soon', 'info')"><i
          class="fa fa-twitter-square"></i> Twitter</a></li>
        <li class="sportsmagazine-google-plus"><a href="javascript:void(0)" (click)="notify('Coming soon', 'info')"><i
          class="fa fa-google-plus-square"></i> Google+</a></li>
      </ul>
      <p>Có tài khoản rồi ? <a href="#" class="sportsmagazine-color">Đăng nhập ngay !</a></p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
