<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
      <div class="mdc-card p-0">
        <div class="d-flex justify-content-between align-items-center py-0 pe-2">
          <h6 class="card-title card-padding text-dark h-50">Danh sách ghế</h6>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th class="text-left">Thứ tự</th>
              <th class="text-left">Số ghế</th>
              <th class="text-left">Loại</th>
              <th class="text-left">#</th>
            </tr>
            </thead>
            <tbody>
              @for (u of seats; track u; let idx = $index) {
                <tr>
                  <td class="text-left align-middle">{{ idx + 1 }}</td>
                  <td class="text-left align-middle">{{ u.seatNumber }}</td>
                  <td class="text-left align-middle">
                    <span class="badge bg-{{u.typeName}}" style="width: 100px;"> {{ u.typeName }}</span>
                  </td>
                  <td class="text-left align-middle" style="width: 10%;">
                    <button class="btn btn-danger" (click)="delete(u.seatId)">Xóa</button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
