<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
      <div class="mdc-card p-0">
        <div class="d-flex justify-content-between align-items-center py-0 pe-2">
          <h6 class="card-title card-padding text-dark h-50">Danh sách trận đấu</h6>
          <input type="text" name="search" class="form-control h-50 w-75" placeholder="Tìm kiếm" [(ngModel)]="param.key"
                 (keyup)="searchData()">
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th class="text-left">Thứ tự</th>
              <th class="text-left">Đội nhà</th>
              <th class="text-left">Đội khách</th>
              <th class="text-left">Ngày đá</th>
              <th class="text-left">Sân vận động</th>
              <th class="text-left">Tỉ số</th>
              <th class="text-left">Trạng thái</th>
              <th class="text-left">#</th>
            </tr>
            </thead>
            <tbody>
              @for (u of data.contents; track u; let idx = $index) {
                <tr>
                  <td class="text-left align-middle">{{ idx + 1 }}</td>
                  <td class="text-left align-middle">
                    {{ u.homeTeamName }} <br>
                    <img [src]="u.homeLogo" alt="" style="width: 80px; height: 80px; object-fit: contain;">
                  </td>
                  <td class="text-left align-middle">
                    {{ u.awayTeamName }}<br>
                    <img [src]="u.awayLogo" alt="" style="width: 80px; height: 80px; object-fit: contain;">
                  </td>
                  <td class="text-left align-middle">
                    {{ u.matchDate | date: 'dd/MM/yyyy' }} <br>
                    {{ u.matchTime }}
                  </td>
                  <td class="text-left align-middle">
                    {{ u.stadiumName }}
                  </td>
                  <td class="text-left align-middle">
                    {{ u.homeGoal }} - {{ u.awayGoal }}
                  </td>
                  <td class="text-left align-middle">
                    @if (u.status.toLowerCase() === 'pending') {
                      <span class="badge bg-warning">Sắp diễn ra</span>
                    } @else if (u.status.toLowerCase() === 'live') {
                      <span class="badge bg-info">Đang diễn ra</span>
                    } @else if (u.status.toLowerCase() === 'completed') {
                      <span class="badge bg-success">Kết thúc</span>
                    }
                  </td>
                  <td class="text-left align-middle">
                    <button class="btn btn-info" (click)="ticket(u)">Vé</button>
                    <button class="btn btn-success mx-2" (click)="update(u)">Cập nhật</button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center">
          <pagination [totalItems]="data.totalRecords" [(ngModel)]="data.page" [itemsPerPage]="data.size"
                      [maxSize]="5"
                      [boundaryLinks]="true" [directionLinks]="true" (pageChanged)="pageChanged($event)">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>
