<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12">
      <div class="mdc-card">
        <h6 class="card-title">{{ title() }}</h6>
        <div class="template-demo">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="form mb-3 w-100">
                <label>Đội nhà</label>
                <ng-select [items]="teams()"
                           name="homeTeam"
                           class="w-100"
                           bindLabel="name"
                           bindValue="teamId"
                           groupBy="selectedAllGroup"
                           placeholder="Chọn đội bóng"
                           [(ngModel)]="match().homeTeamId">
                </ng-select>
              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="form mb-3 w-100">
                <label>Đội khách</label>
                <ng-select [items]="teams()"
                           class="w-100"
                           name="awayTeam"
                           bindLabel="name"
                           bindValue="teamId"
                           groupBy="selectedAllGroup"
                           [selectableGroup]="true"
                           placeholder="Chọn đội bóng"
                           [(ngModel)]="match().awayTeamId">

                </ng-select>
              </div>
            </div>

            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="form mb-3 w-100">
                <label>Sân vận động</label>
                <ng-select [items]="stadiums()"
                           name="homeTeam"
                           class="w-100"
                           bindLabel="stadiumName"
                           bindValue="stadiumId"
                           groupBy="selectedAllGroup"
                           placeholder="Chọn sân vận động"
                           [(ngModel)]="match().stadiumId">
                </ng-select>
              </div>
            </div>

            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="form mb-3 w-100">
                <label>Ngày trận đấu</label>
                <input type="text"
                       placeholder="Ngày bắt đầu"
                       placement="left"
                       name="matchDate"
                       [(ngModel)]="matchDate"
                       [minDate]="today"
                       class="form-control"
                       [bsConfig]="config"
                       bsDatepicker>
              </div>
            </div>

            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="form mb-3 w-100">
                <label>Giải</label>
                <ng-select [items]="leagues()"
                           class="w-100"
                           name="laegue"
                           bindLabel="name"
                           bindValue="leagueId"
                           groupBy="selectedAllGroup"
                           [selectableGroup]="true"
                           placeholder="Chọn giải đấu"
                           [(ngModel)]="match().leagueId">

                </ng-select>
              </div>
            </div>
          </div>


          <button class="btn btn-primary" (click)="add()">Lưu</button>
        </div>
      </div>
    </div>
  </div>
</div>
