<div class="col-md-12">
  <div class="sportsmagazine-copyright-two">
    <a href="#" class="sportsmagazine-top-back"><i class="fa fa-angle-up"></i></a>
    <p>© {{ currentYear }}, All Right Reserved - by Thu1402</p>
    <ul class="sportsmagazine-footer-social">
      <li><a href="https://www.facebook.com/" class="sportsmagazine-colorhover fa fa-facebook-official"></a></li>
      <li><a href="https://plus.google.com/" class="sportsmagazine-colorhover fa fa-google-plus-square"></a></li>
      <li><a href="https://pk.linkedin.com/" class="sportsmagazine-colorhover fa fa-linkedin-square"></a></li>
      <li><a href="https://twitter.com/login" class="sportsmagazine-colorhover fa fa-twitter-square"></a></li>
    </ul>
  </div>
</div>
