<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
      <div class="mdc-card p-0">
        <div class="d-flex justify-content-between align-items-center py-0 pe-2">
          <h6 class="card-title card-padding text-dark h-50">Danh sách hóa đơn</h6>
          <input type="text" name="search" class="form-control h-50 w-75" placeholder="Tìm kiếm" [(ngModel)]="keyword"
                 (keyup)="searchData()">
        </div>
        <div class="table-responsive">
          <table class="table table-main table-striped table-bordered table-hover">
            <thead>
            <tr>
              <th class="text-left">Thứ tự</th>
              <th class="text-left">Email / Tên</th>
              <th class="text-left">Mã hóa đơn</th>
              <th class="text-left">Loại</th>
              <th class="text-center">Trận đấu</th>
              <th class="text-left">Thời gian</th>
              <th class="text-left">Giá</th>
              <th class="text-left">Ghế</th>
              <th class="text-left">Trạng thái</th>
              <th class="text-left">Phương thức thanh toán</th>
            </tr>
            </thead>
            <tbody>
              @for (u of data.contents; track u; let idx = $index) {
                <tr>
                  <td class="text-left align-middle">{{ (data.page - 1) * data.size + idx + 1 }}</td>
                  <td class="text-left align-middle">
                    <span style="width: 100px;">{{ u.email }}</span> <br>
                    <span style="width: 100px;">{{ u.userName }}</span>
                  </td>
                  <td class="text-left align-middle"> {{ u.txnRef }}</td>
                  <td class="text-left align-middle"> {{ u.ticketType }}</td>
                  <td class="text-left align-middle">
                    <table class="border-none m-0 table-child">
                      <tr>
                        <td>
                          <img [src]="u.homeLogo" alt="team-logo" class="team-logo">
                        </td>
                        <td>{{ u.teamMatch }}</td>
                        <td>
                          <img [src]="u.awayLogo" alt="team-logo" class="team-logo">
                        </td>
                      </tr>
                    </table>
                  </td>

                  <td class="text-left align-middle"> {{ u.matchTime }}</td>
                  <td class="text-left align-middle"> {{ u.totalPrice }}</td>
                  <td class="text-left align-middle"> {{ u.seats }}</td>
                  <td class="text-left align-middle">
                    @if (u.bookingStatus === 'completed') {
                      <span class="badge badge-success">Hoàn thành</span>
                    } @else if (u.bookingStatus === 'cancelled') {
                      <span class="badge badge-danger">Đã hủy</span>
                    } @else if (u.bookingStatus === 'pending') {
                      <span class="badge badge-warning">Chờ xử lý</span>
                    }
                  </td>
                  <td class="text-left align-middle">{{ u.paymentMethod }}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center">
          <pagination [totalItems]="data.totalRecords" [(ngModel)]="data.page" [itemsPerPage]="data.size"
                      [maxSize]="5"
                      [boundaryLinks]="true" [directionLinks]="true" (pageChanged)="pageChanged($event)">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>
