<script src="banner.component.ts"></script>
<div class="sportsmagazine-banner">
  <!--// Slider \\-->
  <div class="sportsmagazine-banner-two">
    <div class="sportsmagazine-banner-one-layer">
      <img src="assets/images/extra-images/banner-two-1.jpg" alt="">
      <span class="sportsmagazine-banner-pattren"></span>
      <div class="sportsmagazine-banner-caption">
        <div class="container">
          <div class="row">
            <div class="sportsmagazine-banner-two-wrap">
              <div class="sportsmagazine-banner-text">
                <h1>Sắp tới</h1>
                <div class="sportsmagazine-banner-upcoming-match">
                  <div class="sportsmagazine-banner-team-one">
                    <figure><img ngSrc="assets/images/logo_real_50x50.png" alt="" width="50" height="50"></figure>
                    <section>
                      <h4><a href="javascript:void(0)">Real <br>Madrid</a></h4>
                    </section>
                  </div>
                  <span>VS</span>
                  <div class="sportsmagazine-banner-team-one sportsmagazine-banner-team-two">
                    <figure><img ngSrc="assets/images/logo_barca_50x50.png" alt="" width="50" height="50"></figure>
                    <section>
                      <h4><a href="javascript:void(0)">Barca <br>FC</a></h4>
                    </section>
                  </div>
                </div>
                <div id="sportsmagazine-banner-countdown" class="sportsmagazine-banner-countdown"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sportsmagazine-banner-two-thumb"><img src="assets/images/extra-images/banner-two-thumb-1.png" alt="">
      </div>
    </div>
  </div>
  <!--// Slider \\-->
</div>
