<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12">
      <div class="mdc-card">
        <h6 class="card-title">{{ title() }}</h6>
        <div class="template-demo">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="form-floating mb-3 w-100">
                <input type="text" class="form-control" id="leagueName" placeholder="Enter here"
                       [(ngModel)]="stadium().stadiumName">
                <label for="leagueName">Name</label>
              </div>
            </div>

            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
              <div class="form-floating mb-3 w-100">
                <input type="text" class="form-control" id="address" placeholder="Enter here"
                       [(ngModel)]="stadium().address">
                <label for="address">Address</label>
              </div>
            </div>
          </div>

          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12-desktop d-flex flex-column">
              <label>Logo</label>
              <div class="d-flex justify-content-between row w-100 mb-2">
                <div class="container-upload col-6 flex-column align-items-start"
                     (drop)="fileService.handleDrop($event)"
                     (dragover)="fileService.allowDrop($event)">
                  <div class="upload-box">
                    <div class="content">
                      <div class="upload-icon" (drop)="fileService.handleDrop($event)"
                           (dragover)="fileService.allowDrop($event)">
                        <i class="mdi mdi-cloud-upload text-dark" style="height: 100px; width: 100px;"></i>
                      </div>
                      <h5 class="text-dark" (drop)="fileService.handleDrop($event)"
                          (dragover)="fileService.allowDrop($event)">
                        Drag and drop file here
                      </h5>
                      <p>Or</p>
                      <div class="upload-btn-wrapper">
                        <button class="btn btn-gradient-primary-2">Upload</button>
                        <input type="file" name="file" (change)="fileService.handleFileInput($event)"
                               (drop)="fileService.handleDrop($event)"
                               (dragover)="fileService.allowDrop($event)"/>
                      </div>
                    </div>
                  </div>
                  <!-- end file preview template -->
                </div>
                @if (fileService.fileData) {
                  <div class="col-6" id="uploadPreviewTemplate w-100">
                    <div class="card mt-1 mb-0 shadow-none border">
                      <div class="p-2">
                        <div class="row align-items-center d-flex flex-column">
                          <div class="col-auto">
                            <img data-dz-thumbnail [src]="fileService.mFile.url" class="avatar-sm rounded bg-light"
                                 style="height: 250px; width: 250px; object-fit: contain;"
                                 alt="">
                          </div>
                          <div class="col ps-0 d-flex justify-content-around px-2">
                            <a href="javascript:void(0);" class="text-muted fw-bold"
                               data-dz-name>{{ fileService.mFile.name }}</a>
                            <p class="mb-0" data-dz-size>{{ fileService.mFile.size }} KB</p>
                          </div>
                          <div class="col-auto">
                            <!-- Button -->
                            <a href="javascript:void(0)" (click)="clearUpload()"
                               class="btn btn-link btn-lg text-muted" data-dz-remove>
                              <i class="dripicons-cross"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                }
                @if (stadium().image) {
                  <div class="col-6">
                    <p>Original Image</p>
                    <div class="upload-preview">
                      <div class="card mt-1 mb-0 shadow-none border">
                        <div class="p-2">
                          <div class="row align-items-center">
                            <div class="col-auto">
                              <img [src]="stadium().image" class="avatar-xl rounded bg-light"
                                   style="height: 200px; object-fit: cover;" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="mdc-card">
        <h6 class="card-title">Seat</h6>
        @if (this.isUpdate()) {
          <div class="template-demo mb-2">
            <h6 class="card-title">Current seat:</h6>
            <div class="mdc-layout-grid__inner">
              @for (s of stadium().seats2; track s) {
                <button class="btn btn-light bg-{{s.typeName}}">{{ s.seatNumber }}</button>
              }
            </div>
          </div>
        }
        @for (s of stadium().seats; track s; let ids = $index) {
          <div class="template-demo">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop">
                <div class="form-floating mb-3 w-100">
                  <input type="text" class="form-control" [id]="'prefix' + ids" placeholder="Enter here"
                         [(ngModel)]="s.prefix">
                  <label [for]="'prefix' + ids">Prefix Seat</label>
                </div>
              </div>

              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop">
                <div class="form-floating mb-3 w-100">
                  <input type="text" class="form-control" [id]="'start' + ids" placeholder="Enter here"
                         [(ngModel)]="s.start">
                  <label [for]="'start'+ids">Start</label>
                </div>
              </div>

              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop">
                <div class="form-floating mb-3 w-100">
                  <input type="text" class="form-control" [id]="'end'+ids" placeholder="Enter here"
                         [(ngModel)]="s.end">
                  <label [for]="'end'+ids">End</label>
                </div>
              </div>

              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop">
                <div class="form-floating mb-3 w-100">
                  <select [name]="'type'+ids" class="form-select" [id]="'type' + ids" [(ngModel)]="s.typeId">
                    @for (ty of types; track ty) {
                      <option [value]="ty.typeId">{{ ty.name }}</option>
                    }
                  </select>
                  <label [for]="'type'+ids">Type</label>
                </div>
              </div>
            </div>
          </div>
        }
      </div>

      <div class="btn btn-group">
        <button class="btn btn-primary me-3" (click)="submit()">Submit</button>
        <button class="btn btn-secondary" (click)="addRowSeat()">Add Row Seat</button>
      </div>
    </div>
  </div>
</div>
