@if (status === '') {
  <div class="d-flex justify-content-center">
    <div class="skeleton-wrapper align-items-center w-50">
      <div class="skeleton-image"></div>
      <div class="skeleton-text"></div>
      <div class="skeleton-text"></div>
      <div class="skeleton-text short"></div>
    </div>
  </div>
} @else {
  <div class="container">
    @if (status === 'success') {
      <div class="row d-flex justify-content-center">
        <div class="col-md-5">
          <div class="message-box _success">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            <h2> Bạn đã đặt hàng thành công </h2>
            <p> Cảm ơn bạn </p>
          </div>
        </div>
      </div>
    } @else {
      <div class="row d-flex justify-content-center">
        <div class="col-md-5">
          <div class="message-box _success _failed">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            <h2> Đặt hàng thất bại </h2>
            <p> Vui lòng thử lại lần nữa </p>
          </div>
        </div>
      </div>
    }
  </div>
}




